@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,400i,700,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');
@import url('https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');
// custom variables
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #4875b4;
$google-plus: #d34836;

@import "custom";